.popup {
    position: fixed;
    width: 100vw;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    visibility: hidden;
    background: rgba(0,0,0,.9);
    transition: opacity 0.5s, visibility 0.5s;
    &_open {
        opacity: 1;
        visibility: visible;
    }
}
.popup-container {
    position: relative;
    top: 30%;
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFFFFF;
    h3 {
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        margin: 0;
        color: #000000;
        text-align: center;
    }
}
.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 40px 0 0 0;
    input {
        border: none;
        border-bottom: 1px solid black;
        padding: 10px 10px;
        outline: none;
        font-size: 24px;
        line-height: 26px;
        width: 100%;
    }
    span {
        height: 20px;
        width: 100%;
        font-size: 18px;
        line-height: 20px;
        color: #c91919;
        padding: 0 0 0 10px;
    }
    &__submit {
        width: 140px;
        padding: 15px 10px;
        border: none;
        outline: none;
        font-size: 18px;
        line-height: 20px;
        color: #000000;
        background: #0f6e35;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        &_disabled {
            background: #587c67;
        }
        &_enabled {
            cursor: pointer;
        }
    }
}