@import '../vendor/normalize.scss';
@import '../fonts/fonts.scss';
body {
    margin: 0;
}
.page {
    max-width: $widthPage;
    margin: 0 auto;
    background: #FFFFFF;
    font-family: 'Roboto';
}

.not-found {
    margin: 40px 0 0 0;
    padding: 0 72px;
    &__title {
        font-weight: 400;
        font-size: 84px;
        line-height: 101px;
        color: $colorTextBlack;
        margin: 0;
        @media screen and (max-width: 768px) {
            font-size: 42px;
            line-height: 46px;
        }
    }
}
