$widthPage: 1200px;
$colorTextBlack: #000000;
$colorTextBlackLight: #000000b3;
$colorBlack: #000000;
$colorTextWhite: #FFFFFF;
$colorTextWhiteDark: #ffffff99;
$colorTextLinkHover: #439e28;
$colorWhite: #FFFFFF;
$colorWhiteHover: #f0caca;