.footer {
   margin: 112px 0 64px 0;
   padding: 0 72px;
}
.address {
    color: #000000;
    display: flex;
    gap: 295px; 
    &__city {
        @include addressCity;
        margin: 0 0 15px 0;
    }
    &__street {
        @include addressStreet;
        margin: 0;
    }
    &__subtitle {
        @include addressSubtitle;
        margin: 16px 0 0 0;
    }
}
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 112px 0 0 0;
    &__link {
        @include linkItem;
    }
    &__text {
        @include linkItem;
        margin: 0;
    }
}