.aside-contacts {
    padding: 0 72px;
    margin: 128px 0 0 0;
    h2 {
        @include asideContactsTitle;
        margin: 0;
    }
    p {
        @include asideContactsSubtitle;
        margin: 24px 0 0 0;
    }
    &__button {
        @include asideContactsButton;
        margin: 40px 0 0 0;
    }
}