.aside-index-page {
    margin: 136px 0 0 0;
    padding: 0 64px;
    &__title {
        @include titleAside;
        margin: 0;
    }
    &__subtitle {
        @include subtitleAside;
        margin: 66px 0 0 0;
    }
    &__link {
        @include asideLink;
        text-decoration: none;
        margin: 7px 0 0 0;
    }
}