.aside-learn {
    padding: 0 72px;
}
.block-ceo {
    background: #000000;
    padding: 48px;
    margin: 128px 0 0 0;
    border-radius: 8px;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
    gap: 0 64px;
    img {
        grid-column: 1;
        grid-row: 1 / 8;
    }
    &__title {
        @include titleLearn;
        grid-column: 2;
        margin: 0 0 21px 0; 

    }
    &__subtitle {
        font-weight: 400;
        font-size: 24px;
        line-height: 39px;
        color: #FFFFFF;
        grid-column: 2;
        margin: 0 0 67px 0;
    }
    &__name {
        @include subtitleLearn;
        grid-column: 2;
        margin: 0;
    }
    &__link {
        @include linkLearn;
        grid-column: 2;
    }
}